# Build results
bin/
obj/
out/

# Publish output
wwwroot/
dist/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Rider files
.idea/

# VS Code files
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Entity Framework
Migrations/

# Dotnet-specific
*.dbmdl
*.pdb
*.cache
*.log

# Visual Studio
*.vspscc
*.vssscc
.vs/
*.ncb
*.sdf
*.cachefile
*.bak
*.orig

# Logs
*.log

# Environment and settings
.env
.env.*
.env.*.local
*.local

# Database files
*.mdf
*.ldf
*.sqlite
*.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Build
build/
